@import url(./globals.css);

body {
  background: url('../images/webbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.writing {
	font-family: 'Shadows Into Light', cursive;
}

#smaller-highlight {
  user-select: auto;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--primary-color2) 65%);
  display: inline;
}

.u--highlight {
  user-select: auto;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, var(--primary-color) 65%);
  display: inline;
}

#carouselSlidesOnly {
	width: 100%;
}

#below-motto {
	text-align: right;
}

.box {
   display: flex;
   align-items:center;
}

.lead {
	margin-top: 30px;
}

.d-block {
  border-radius: 5px;
}

img {
  display: block;
  max-width: 100%;
}

.section__title {
  margin-bottom: .25em;
  font-size: 3.5em;
  align-self: center;
}

.section__subtitle {
    margin: 0;
}

.section__subtitle--intro {
    background: var(--primary-color3);
    font-size: 1.25em;
    margin-bottom: 20px;
    display: inline-block;
}

.section__title--intro strong {
    display: block;
}

.intro {
  position: relative;
}

.self-intro {
  position: relative;
  background-color: var(--bg-color);
  margin: -48px;
  margin-top: 50px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 80px;
  margin-bottom: 50px;
}

.info-cards {
  position: relative;
  background-color: var(--bg-color);
  margin: -48px;
  margin-top: 50px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.intro__image {
  box-shadow: 0 0 3px;
}

@media (min-width: 1000px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1.5em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__image {
    grid-area: img;
    min-width: 350px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    margin-left: calc(-350px - 2.5em);
    /*left: -1.5em;
    width: calc(100% + 1.5em);*/
    width: calc(350px + 100% + 2.5em);
    padding-right: 10px;
  }

  .section__title--intro {
    margin-bottom: -60px;
  }
}

.card {
  margin-top: 20px;
}

@media(max-width:440px) {
  .card__page {
    max-width: calc(100%);
  }

  td {
    font-size: 12px;
  }

  th {
    font-size: 12px;
  }
}

@media(min-width:441px) {
  .card__page {
    width:304px;
  }
}

@media(max-width:340px) {
  #email {
    position: absolute;
    margin-top: 20px;
    left:43px;
  }
}

@media(max-width:280px) {
  #email {
    font-size: 12px;
    position: absolute;
    margin-top: 20px;
    left:43px;
  }
}



.btn-primary {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
    border-color: var(--primary-color3);
}

.btn-primary:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
    border-color: gray;
}
