tr:hover {
	background-color: #f5f5f5;
}

th, td {
  border-bottom: 1px solid #ddd;
}

.sch-logo {
	width: 20%
}

.u--highlight {
  user-select: auto;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffd4b8 65%);
  display: inline;
}

#smaller-highlight {
  user-select: auto;
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #fff5ba 65%);
  display: inline;
}

table {
		margin-bottom: 80px;
}

.info {
	position: relative;
  background-color: #f7f7f7;
  margin: -48px;
  margin-top: 50px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 80px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
